
.transition {
  animation: grow 500ms ease;
  margin-top: 0;
  margin-bottom: auto;
}

.transition_back {
  animation: shrink 500ms ease-in;
  margin-bottom: 110%;
  margin-top: -160px;
}


@keyframes grow {
  from { 
    margin-bottom: 110%;
    margin-top: -20%;
  }
  to { 
    margin-top: 0;
    margin-bottom: auto;
  }
}

@keyframes shrink {
  from { 
    margin-top: 0;
    margin-bottom: auto;
  }
  to { 
    margin-bottom: 110%;
    margin-top: -160px;
  }
}

.default {
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_fixed {
    composes: default;
    height: 150px;
    position: fixed;
    top: 0;
}


.red {
  composes: transition;
}

.blue {
  composes: transition_back;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 6rem;
}

.header_item {
  position: relative;
  font-family: var(--font-main);
  font-size: 1.4rem;
  font-weight: 900;
  color: white;
  text-align: center;
  width: 100px;
}
.clear {
  background-color: transparent;
}

.opaque {
  background-color: rgba(100,100,100,1);
}
