
.header_component {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    height: 100px;
    z-index: 99;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

}

.header_item {
  composes: title_rollover from '../utils.css';
  font-family: var(--font-main);
  font-size: 1.2rem;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;

}

.side_panel {
  position: fixed; 
  height: 100vh;
  width: auto;
}

.side_item {
  align-items: center;
  justify-content: center;
  color: white;

}

.centralize {
  composes: title_rollover from '../utils.css';
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  font-family: var(--font-main);
  font-size: 2rem;
  font-weight: 900;
  background: var(--gradient);
  background-clip: text;  
  color: transparent;
}

.centralize:hover .drop_down{
  display: flex;
  flex-direction: column;

}

.drop_down {
  display: none;
}

.drop_down:hover {
}



