.form {
  display: flex;
  background: rgba(60,84,100, 0.7);
  width: 50vw;
  height: 80vh;
  margin: 5rem auto;
  padding: 50px;

  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form_wrapper {
  background-color: rgba(255,255,255,0.1);
  padding: 2rem;
}


.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem; 
  width: 5rem;
  background-color: rgba(100,100,100,0.8);
  color: white;
}
.button:hover {
  color: black;
  background-color: white;
}


.fieldgroup {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 35px;
  width: auto;
}

#label {
  font-family: var(--font-aux);
  font-size: 1rem;
  width: 5vw;
}

.input {
  font-family: var(--font-aux);
  background-color: red;

}
