#cat {
}

#dog {
}

.appear {
  animation: slide_fade 2s ease forwards;
}

.disappear {
  animation: slide_fade 2s ease backwards;
}

@keyframes slide {
  from {
    transform: translateY(+50%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide_fade {
  0% {
    opacity: 0;
    transform: translateY(+30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

@keyframes blend {
  0%, 50% {
    opacity: 0.1;
    mix-blend-mode: normal;
  }
  100% {
    opacity: 1;
    mix-blend-mode: ;
  }
}
