
.title {
  composes: longshadow from './longshadow.module.css';
  font-size: 2rem;
  overflow: hidden;
  color: rgba(60,84,100,1);
}

.header_small {
}

.header_medium h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2rem;
  color: white;
  background-color: rgba(60,84,100,0.5);
  width: 100%;
  transform:skew(0deg, 0deg) scaleY(1) ; 
  font-family: monospace;
  text-shadow: 2px 0px rgba(60,84,100,1);
}

.header_large {
  composes: title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(100,100,100,0.3);
}

.grow:hover {
  transform: scale(1.01);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}


.list ul li {
  font-size: 1.5rem;
  position: relative;
  color: rgba(60,84,100,1);
  background-color: rgba(60, 84, 100, 0.2);
  margin: 2rem;
  padding: 2% 2% 2% 6%;
  border-radius: 5px;
  overflow: hidden;
}

.list ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(60, 84, 100, 0.7);
  width: 5%;
  height: 110%;
}


.paragraph {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: justify; 
}

.paragraph p {
  text-align: justify;
  font-size: 1rem;
  padding: 10%;
  color: rgba(60,84,100,1);
}

