
.title {
  composes: longshadow from './longshadow.module.css';
  font-size: 2rem;
  overflow: hidden;
  font-family: monospace;
  color: white;
}

.header_small {
}

.header_medium h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: white;
  background-color: rgba(60,84,100,0.5);
  width: 100%;
  font-family: monospace;
}

.header_large {
  composes: title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(80,80,80,0.5);
}

.grow:hover {
  transform: scale(1.01);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}


.list ul li {
  font-size: 1.5rem;
  position: relative;
  color: rgba(60,84,100,1);
  background-color: transparent;
  margin: 2rem;
  padding: 2% 2% 2% 6%;
  border-radius: 2px;
  border-left: solid 3px rgba(60,84,100,1);
}

.alternative_list ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  background: linear-gradient(90deg, rgba(173,173,173,0.2) 0%, rgba(255,255,255,0.1) 49%, rgba(60,84,150,0.05) 100%);
  transform: skew(-30deg, 0deg);
  width: 35%;
  height: 110%;
}


.paragraph {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: justify; 
}

.paragraph p {
  text-align: justify;
  font-size: 1rem;
  padding: 10%;
  color: rgba(60,84,100,1);
}

