.container {
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.col {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
