.form {
  display: flex;
  background: rgba(155, 176, 133, 0.2);
  width: 30rem;
  margin: 5rem auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.layout {

}


.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem; 
  width: 5rem;
  border-color: transparent;
  border-radius: 4px; 
  background-color: rgba(100,100,100,0.8);
  color: white;
  box-shadow: 0 6px 8px rgba(255,255,255,0.5);
}

.inputfield {
  border: transparent;
  border-radius: 6px;
  width: 20rem;
  padding: 8px 10px;
  color: #fff;
}

.fieldgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.label {
    margin-bottom: 8px;
  color: #000;
  font-weight: 600;
}
