.panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 20rem;
}

.paragraph {
  text-align: top;
  text-justify: auto;
  margin-bottom: 0px;
}

