.backdrop {
  position: relative;
  background-color: rgba(100,100,100,0.1);
  width:100%;
}
.quote {
  font-family: var(--font-aux);
  font-size: 3rem;
}
.tagline {
  font-family: var(--font-secondary);
  font-size: medium;
}
