.ext_pos {                                                                         
  height: 100%;                                                                     
  position: relative;                                                               
  background-color: transparent;                                                    
  display: grid;                                                                    
  grid-template-columns: 1fr 1fr 1fr;                                               
  grid-template-rows: 1fr 1fr 1fr;                                                      
  justify-content: center;                                                          
}                                                                                   
                                                                                    
.text_pos {                                                                         
  height: 100%;                                                                     
  position: relative;                                                               
  background-color: transparent;                                                    
  display: flex;                                                                    
  flex-direction: column;

  flex-wrap: nowrap;

  justify-content: center;                                                          
  align-content: center;

}                                                                                   
                                                                                    
.paragraph {                                                                        

  display: flex;                                                                    
  justify-content: center;

  font-family: var(--font-main);                                                    
  text-align: center;                                                               
  background-color: transparent;                                                            
  font-size: 6rem;

  font-weight: 500;                                                                 
  color: white;                                                                     
  padding: 0;                                                                       
}                                                                                   

.tagline {                                                                          
  text-shadow: #e0e0e0 1px 1px 0;

  display: flex;                                                                    
  justify-content: center;

  font-family: var(--font-secondary);                                               
  background-color: transparent;                                                    
  text-align: center;                                                               
  font-size: 2rem;

  color: white;                                                                     
  padding: 0;                                                                       
}                                                                                   
 .absolute_pos {                                                                 
  position: absolute;                                                           
  top: 0;                                                                       
  width: 100%;                                                                  
  height: 100%;                                                                 
                                                                                
}                                                                               
                                                                                
.relative_pos {                                                                 
  height: 100%;                                                                 
  position: relative;                                                           
  background-color: transparent;                                                
}  
