
.container {
  color: white;

}

.container h1{
  font-size: 4rem;
  font-weight: 500;
  font-family: var(--font-main);
}

.background {
  display: flex;
  height: 400px;
  width: 50%;
  transform: translateX(50%);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 50%;
}

@keyframes radial {
  from {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%);
  }
  to {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
  }
}

.background:hover {
}


.link {
  display: flex;
  justify-content: center;
}

.link:hover {
}

.link a{
  color: white;
  font-size: 2.5em;
  font-family: var(--font-main);
  text-decoration:none;
  position:relative;
}

.link a::before{
  position:absolute;
  content:'';
  bottom:0;
  left:0;
  background:#fff;
  width: 0;
  opacity: 1;
  height: 2px;
  transition: width 0.3s ease-out, transform 0.5s ease;
  transform: translateX(10%);
}

.link a:hover::before{
 width:100%;
}


