.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.side_panel {
  position: relative;
  width: 60%;
  background: red;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.b {

}

.bluebox {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.monorail_image1 {
  height: 400px;
  width: 400px;
  background: linear-gradient(180deg, rgba(73,73,73,0.2) 0%, rgba(255,255,255,1) 100%);
  margin-bottom: 1.5rem;
}
