.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  border: dashed 2px red;
  overflow: hidden;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
