.text_pos {                                                                         
  height: 100%;                                                                     
  position: relative;                                                               
  background-color: transparent;                                                    
  display: grid;                                                                    
  grid-template-columns: 1fr 1fr 1fr;                                               
  grid-template-rows: 1fr 1fr 1fr;                                                      
  justify-content: center;                                                          
}                                                                                   
                                                                                    
.paragraph {                                                                        
  display: grid;                                                                    
  grid-row-start: 2;                                                                
  grid-row-end: span 1;                                                             
  grid-column-start: 2;                                                             
  grid-column-end: span 1;                                                          
  align-content: end;                                                               
  font-family: var(--font-main);                                                    
  text-align: center;                                                               
  /**text-transform: uppercase;**/                                                  
  background-color: transparent;                                                            
  font-size: 5rem;
  font-weight: 500;                                                                 
  color: white;                                                                     
  padding: 0;                                                                       
  margin-bottom: -6rem;                                                             
                                                                                    
}                                                                                   
                                                                                    
.tagline {                                                                          
  display: grid;                                                                    
  grid-row-start: 3;                                                                
  grid-row-end: span 1;                                                             
  grid-column-start: 2;                                                             
  grid-column-end: span 1;                                                          
  font-family: var(--font-secondary);                                               
  background-color: transparent;                                                    
  text-align: center;                                                               
  color: white;                                                                     
  padding: 0;                                                                       
  margin-top: -8rem;                                                                        
}                                                                                   
 .absolute_pos {                                                                 
  position: absolute;                                                           
  top: 0;                                                                       
  width: 100%;                                                                  
  height: 100%;                                                                 
                                                                                
}                                                                               
                                                                                
.relative_pos {                                                                 
  height: 100%;                                                                 
  position: relative;                                                           
  background-color: transparent;                                                
}  
