html {
  --primary-color: rgba(110,98,78,1);
  --secondary-color: rgba(0,212,255,1);
  --embellish-color: rgba(0,212,255,0.2);
  --font-main: "Helvetica";
  --font-secondary: "Lucida Console";
  --font-aux: "Lucida Console";
  --text-color: #ffffff;
  --text-color-alt: #ff0034;
  margin: 0;
  padding: 0;
}
a { 
  color: inherit; 
  text-decoration:none;
}

div {
  width: 100%;
  margin: 0rem;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

textarea, input { outline: none; }

