.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: yellow;
  overflow: hidden;
}

.image {
  width: 100%;
  margin: 1rem;
  object-fit: cover;
}

.image_first {
  width: 100%;
  margin: 1rem 1rem 1rem 0rem;
  object-fit: cover;
}

.image_last {
  width: 100%;
  margin: 1rem 0rem 1rem 1rem;
  object-fit: cover;
}
